---
BasedOnStyle: Google
Language: Cpp

CompactNamespaces: true
NamespaceIndentation: None
FixNamespaceComments: false

AccessModifierOffset: -2
ColumnLimit: 110

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false

DerivePointerAlignment: false
PointerAlignment: Right

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterFunction: true
  AfterStruct: true
  AfterControlStatement: Always
  BeforeElse: true

KeepEmptyLinesAtTheStartOfBlocks: false

SpaceAfterTemplateKeyword: false

PenaltyReturnTypeOnItsOwnLine: 1000

IncludeBlocks: Regroup
IncludeCategories:
    - Regex:  '^".*"'
      Priority: 1
    - Regex:  '^<.*/.*>'
      Priority: 2
    - Regex:  '^<[^.]*>'
      Priority: 3
    - Regex:  '^<.*\.(h|hpp)>'
      Priority: 4
...
