[submodule "submodules/miniply"]
	path = submodules/miniply
	url = https://github.com/vilya/miniply
[submodule "submodules/happly"]
	path = submodules/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "submodules/msh"]
	path = submodules/msh
	url = https://github.com/mhalber/msh
[submodule "submodules/vcglib"]
	path = submodules/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib
[submodule "submodules/tinyply"]
	path = submodules/tinyply
	url = https://github.com/ddiakopoulos/tinyply
